@model IEnumerable<Entitys.Entidades.Producto>
@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_LayoutAdministrativo.cshtml";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/styles.css" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">



    <div id="layoutSidenav">

        <div id="layoutSidenav_content">
            <main>

                <div>
                    <!--<h1 style="color: #3f7c66">Productos</h1>-->
                    <!-- Navbar Search-->
                    <!--<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Buscar..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </form>-->



                    <div>
                        <h3 style="color: #3f7c66">Productos</h3>
                        <table class="table">
                            <thead>
                                <tr scope="row" class="fila-seleccionable">
                                    <th scope="col">ID</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Talle</th>
                                    <th scope="col"></th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    
                                <tr scope="row" class="fila-seleccionable">

                                   
                                    
                                    <td scope="col">
                                        @Html.DisplayFor(modelItem => item.IdProducto)
                                    </td>
                                    <td scope="col">
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td scope="col">
                                        @Html.DisplayFor(modelItem => item.Precio)
                                    </td>
                                    <td scope="col">
                                        @Html.DisplayFor(modelItem => item.Cantidad)
                                    </td>
                                    <td scope="col">
                                        @Html.DisplayFor(modelItem => item.Categoria.Nombre)
                                    </td>
                                    <td scope="col">
                                        @Html.DisplayFor(modelItem => item.Talle.Talles)
                                    </td>


                                    <td scope="col">
                                        
                                        <a class="btn btn-primary btn-block" @Html.ActionLink("Editar", "EditarProducto", new { id = item.IdProducto })
                                    </td>



                                </tr>
                                    
                                }
                            </tbody>
                        </table>

                    </div>


                </div>

            </main>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
</body>
</html>
